# Auto detect text files and perform LF normalization
* text=auto

# Java sources
*.java text diff=java
*.gradle text diff=java
*.gradle.kts text diff=java

# Python sources
*.py text diff=python
*.pyx text diff=python
*.pxd text diff=python

# JavaScript sources
*.js text
*.json text
*.jsx text

# Web sources
*.html text diff=html
*.css text diff=css

# Shell scripts
*.sh text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf

# Documentation
*.md text diff=markdown
*.txt text
*.adoc text
*.textile text
*.mustache text
*.csv text
*.tab text
*.tsv text
*.sql text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Archives
*.7z binary
*.gz binary
*.tar binary
*.zip binary

# Fonts
*.ttf binary
*.eot binary
*.otf binary
*.woff binary
*.woff2 binary
